<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Information API -->
    <add name="LoginApi" connectionString="osef" />
    <add name="MdpApi" connectionString="osef?." />
  </connectionStrings>
  <appSettings>    
    <!-- Application -->
    <add key="Url" value="https://api.pancakeswap.info/" />
	<add key="CheminUrl" value="api/v2/tokens/" />
  </appSettings>
</configuration>